
   
 table {
    width: 100%;
    /* max-width: 150rem; */
    border: 1px solid black; 
    border-collapse:collapse
  } 
  table tr,th,td{
    border: 1px solid black;
  }
  


/* 

table tr:nth-child(even) th {
  color: #ccc;
  font-weight: normal;
}
table th,
table td {
  padding: 0.5rem 1rem;
}
table th {
  font-weight: normal;
  border-top: thin dotted #ccc;
}
table td {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
}
table td > span {
  font-size: 1em;
  font-weight: normal;
  display: block;
  width: 100%;
} */
/* 
.stage-earth {
  background-color: #FFA726;
}

.stage-mercury {
  background-color: #9CCC65;
}

.stage-venus {
  background-color: #FF8A65;
}

.stage-mars {
  background-color: #B3E5FC;
}

.stage-jupiter {
  background-color: #81D4FA;
}

.stage-saturn {
  background-color: #26C6DA;
}  */
